*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:azure;
}
.container{
    max-width: 450px;
    background-color:cadetblue;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px0;
    flex-wrap: wrap-reverse;
    gap: 20px;
}
h1{
    font-size: 24px;
    color:black;
    margin: 0;
    padding: 0;
    display: inline;

}
#celsius,#farenheit,#kelvin{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.icon {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.button {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: deepskyblue;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}
